{% extends 'base.html' %}

{% block title%}
Log in
{%endblock%}

{% block something %}
<div class="container-fluid">
  <div class="row justify-content-center mt-5">
  
    <div class="col-4 border b-2 py-3">
      <h3>LOG IN</h3>
      <div class="container">
        {%if messages %}
        {%for message in messages%}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {%endfor%}
       {%endif%}
      </div>
<form action="" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">User Name</label>
      <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password">
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
  </form>
</div>
  </div>
</div>
{%endblock%}